# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
*.wav

# Logs
logs/
*.log

# pem
*.pem

# Database
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
migrations/

# Cache
.ruff_cache/

# txt
*.txt
*.json
!agent.json
!profile.json
.env